.chat-box {
    right: 300px;
    bottom: 0;
    width: 300px;
    height: 250px;
    border: 1px solid #ccc;
    background-color: lightgrey;
    display: none;
    flex-direction: column;
}

.chat-box-header {
    background-color: steelblue;
    color: white;
    padding: 5px;
    cursor: pointer;
}

.chat-box-body {
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.sender-side {
    background-color: cornflowerblue;
    align-self: flex-end;
    width: fit-content;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
}

.receiver-side {
    background-color: lightgoldenrodyellow;
    align-self: flex-start;
    width: fit-content;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
}

.chat-box-footer {
    display: flex;
}

    .chat-box-footer input {
        flex-grow: 1;
        padding: 5px;
        margin-left: 2px;
    }

    .chat-box-footer button {
        padding: 5px;
        margin-right: 2px;
    }
