.card-days-off {
    background-color: whitesmoke;
    width: 115px;
    height: 115px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card.card-days-off .card-body {
    padding-top: 22px;
    color: dimgray;
}

.user-info > tbody > tr {
    background-color: whitesmoke;
}

h2, h3, h4, h5 {
    text-align: center;
}

.days-off-input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px 12px;
    transition: border-color 0.2s ease-in-out;
    background-color: whitesmoke;
    max-width: 95px;
}

    .days-off-input:focus {
        border-color: #8a8a8a;
        box-shadow: none;
    }

.days-off-table-container {
    white-space: nowrap;
    overflow-x: auto;
    margin: auto;
}

.delete-employee {
    background-color: lightyellow;
    width: 500px;
}

dt, dd {
    margin-right: 35px;
}

.modal-dialog {
    width: auto !important;
    max-width: 65%;
    margin-top: 7%;
}

.modal-content {
    width: auto !important;
}

.position-form {
    background-color: lightblue;
}

a > img {
    width: 19px;
    height: auto;
}

a {
    margin-left: 6px;
}
