.full-width-container {
    width: 100%;
    margin: 0;
    padding: 0 40px 0 120px;
}

.full-width-row {
    display: flex;
}

.content {
    flex-grow: 1;
    margin-right: 70px;
}

.sidebar {
    width: auto;
}
